<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
  <% if logged_in? %>
    <div class="navbar-start">
      <p class="navbar-item">Logged In As: <%= current_user.name %> </p> 
    </div>
    <div class="navbar-end">
      <%= link_to "My Profile", user_path(current_user.id), class: "navbar-item" %>
      <%= link_to "Edit My Profile", edit_user_path, class:'navbar-item' %>
      <%= link_to 'Log Out', logout_path, method: 'delete', class: "navbar-item" %>
    </div> 
  <% else %> 
    <div class="navbar-start">
    <%= link_to 'Home', root_path, class: "navbar-item" %>
    </div>
  <% end %>
  </div>
</nav>