<h1 class="title is-1">Sign Up</h1>
<%= form_for @user do |f| %>
  <label class="label">Name</label>
  <div class="control has-icons-left">
    <%= f.text_field :name, class: 'form-control input', type:'text', placeholder: 'Name' %>
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
  </div>

  <label class="label">Email*Required*</label>
  <div class="control has-icons-left">
    <%= f.text_field :email, class: 'form-control input', type:'email', placeholder: 'Email Input'%>
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
  </div>

  <label class="label">Password*Required*</label>
  <div class="control has-icons-left">
    <%= f.password_field :password, class: 'form-control input', type:'password', placeholder: 'Password'%>
    <span class="icon is-small is-left">
      <i class="fas fa-key"></i>
    </span>
  </div>

  <label class="label">Confirm Password*</label>
  <div class="control has-icons-left">
    <%= f.password_field :password_confirmation, class: 'form-control input', type:'password', placeholder: 'Confirm Password'%>
    <span class="icon is-small is-left">
      <i class="fas fa-key"></i>
    </span>
  </div>

  <%= submit_tag 'Sign Up', class: 'button is-primary', style:'margin-top:20px;' %>
<% end %>