<div class="container">
    <h1 class="title is-3"><%= current_user.name %>'s Profile</h1>
</div>

<div class="block">
  <div class="columns">
    <div class="card-content">
    <h1 class="title is-5">My Business Card</h1>
      <div class="card-image">
        <figure class="image is-4by3">
          <% @card = Card.find_by(user_id: current_user.id) %>
          <img src="<%= @card.image %>" alt="Placeholder image">
        </figure>
      </div>

      <div class="media" style="margin-top: 10px;">
        <div class="media-left">
        <% if @card.logo %>
            <figure class="image is-48x48">
                <img src="<%= @card.logo %>" alt="Placeholder image">
            </figure>
        <% end %>
        </div>
        <div class="media-content">
            <p class="title is-4"><%= @card.name %></p>
            <p class="subtitle is-6"><%= @card.email %></p>
        </div>
      </div>

      <div class="content">
      <% @card.attributes.each do |k, v| %>
        <% if v != '' && k != 'created_at' && k != 'updated_at' && k != 'id' && k != 'user_id' && k != 'image' && k != 'logo' %>
          <p class="content is-small"><%= k.capitalize %>: <%= v %></p>
        <% end %>
      <% end %>
      </div>
      <%= link_to "Edit My Card", edit_card_path(@card), class: 'button is-light' %>
    </div>

    <div class="column is-4"></div>

    <div class="column is-4">
      <%= form_tag(cards_search_path(current_user)) do %>
        <%= label_tag "Enter a name to search:" %>
        <%= search_field_tag "search" %>
        <%= submit_tag 'Search'%>
      <% end %>
    </div>
  </div>
</div>

<div class="block">
  <div class="columns">
    <div class="column is-third"></div>

    <div class="column is-third field has-addons">
      <div class="control has-icons-left">
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
        <input type="text" class="input" placeholder="Search my contacts">
      </div>
      <div class="control">
        <a href="#" class="button is-info">Search</a>
      </div>
    </div>

    <div class="column is-third"></div>
  </div>  
</div>

<div class="block">
<h1 class="title is-5">My Contacts</h1>
<div class="block">
  <% @cards = User.find(current_user.id).cards %>
    <% if current_user.cards.length == 0 %>
      <h2 class="subtitle is-6">You have no friends (Right now)</h2>
    <% else %>  
      <% @cards.in_groups_of(3).each do |row| %>
        <div class="block">
          <div class="three columns">
          <% for card in row %>
          <% if card && card != Card.find_by(user_id: current_user.id) %>
            <div class="card column is-4">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="<%= card.image %>">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                  <% if card.logo %>
                    <figure class="image is-48x48">
                      <img src="<%= card.logo %>">
                    </figure>
                  <% end %>
                  </div>
                  <div class="media-content">
                    <p class="title is-4"><%= card.name %></p>
                    <p class="subtitle is-6"><%= card.email %></p>
                  </div>
                </div>
                <div class="content">
                <% card.attributes.each do |k,v| %>
                  <% if v != '' && k != 'created_at' && k != 'updated_at' && k != 'id' && k != 'user_id' && k != 'image' && k != 'logo' %>
                    <p class="content is-small"><%= k.capitalize %>: <%= v %></p>
                  <% end %>
                <% end %>
                <%= link_to "Remove this Contact", card_path(card), method: :delete %>
                </div>
              </div>
            </div>
          <% end %>  
          <% end %>
            </div>
          </div>
        </div>
      <% end %>  
    <% end %>
</div>
</div>

